
html
{
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body
{
  background: linear-gradient(140deg, #043c61 0%, #0a233d 100%);
}

h1 /*title*/
{
  font-family: 'Josefin Sans', serif;
  font-style: italic;
  font-weight: 300;
  font-size: calc(45px + (105 - 45) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 6px;
  color: #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}

button
{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  color: #202020;
  cursor: pointer;
  background-color: #EEEEEE;
  margin-top: 20px;
}

button:hover
{
  background-color: rgba(238, 238, 238, 0.97);
}

button:active
{
  background-color: rgba(238, 238, 238, 0.9);
}

p1 /*text about game*/
{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #eeeeee;
}
.nav
{
  margin-top: -10px;
  padding: 10px;
  background-color: rgba(238, 238, 238,0.1);
}
.navlmnt
{
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #eeeeee;
  background-color: rgba(238, 238, 238,0.1);
}
.navlmnt:hover
{
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: black;
  background-color: #eeeeee;
}
