/*Made by Harry Bond @fakeplantgames 2020*/

html
{
  height:100%;
  background-attachment: scroll;
  background: linear-gradient(140deg, #043c61 0%, #0a233d 100%);
  overflow-x: hidden;
}

h1/*title*/
{
  margin-bottom: 5%;
  margin-top: 0;
  font-family: 'Josefin Sans', serif;
  font-style: italic;
  font-weight: 300;
  font-size: calc(60px + (150 - 60) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 6px;
  color: #eeeeee;
}
body
{
  margin: 0 auto;
}

p1 /*text about game*/
{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 100%;
  color: #eeeeee;
}

.nav
{
  float: left;
  width:100%;
  padding:0.35%;
  background-color: rgba(238, 238, 238,1);
  margin-bottom: 4%;
}
.navlmnt
{
  font-size: 90%;
  margin:1%;
  border-radius: 180px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(32,32,32,0.8);
  background-color: #eeeeee;
  text-decoration:none;
  padding: .28%
}
.feature
{
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #eeeeee;
  font-size: 120%;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #e04b00;
}

.navlmnt:hover
{
  color: #eeeeee;
  background-color: rgba(10, 35, 61,0.8);
  cursor: pointer;
}
.feature:hover
{
  background-color: rgba(212, 50, 0,1);
}


.noselect
{
  user-select: none;
}

.fadein
{
  animation: fadein ease 1.5s;
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
