@import url ("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans");

html
{
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body
{
  background: linear-gradient(137deg, #043c61 0%, #0c2744 100%);
}

h1
{
  font-family: 'Josefin Sans', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 75px;
  letter-spacing: 3px;
  color: #eeeeee;
}

p1
{
  text-align: center;
  font-family: 'Open Sans', serif;
  font-style: italic;
  font-size: 17px;
  color: #eeeeee;
}

.button1
{
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-size: 16px;
  color: #202020;
  cursor: pointer;
  background-color: #EEEEEE;
}

.button1:hover
{
  background-color: rgba(238, 238, 238, 0.97);
}

.button1:active
{
  background-color: rgba(238, 238, 238, 0.9);
}
