/*Made by Harry Bond @fakeplantgames 2020*/

html
{
  height:100%;
  background-attachment: scroll;
}

body
{
  background: linear-gradient(140deg, #043c61 0%, #0a233d 100%);
}

h1 /*title*/
{
  font-family: 'Josefin Sans', serif;
  font-style: italic;
  font-weight: 300;
  font-size: calc(100px + (200 - 100) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 6px;
  color: #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}

button
{
  border: none;
  border-radius: 1000px;
  padding: 5px 10px;
  margin-left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  color: rgba(32, 32, 32,0.8);
  cursor: pointer;
  background-color: #EEEEEE;
  margin-top: 20px;
}

button:hover
{
  background-color: rgba(238, 238, 238, 0.97);
}

button:active
{
  background-color: rgba(238, 238, 238, 0.9);
}

p1 /*text about game*/
{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #eeeeee;
}
.nav
{
  width:100%;
  padding: 1%;
  background-color: rgba(238, 238, 238,1);
}
.navlmnt
{
  border-radius: 180px;
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(32, 32, 32,0.8);
  background-color: #eeeeee;
}
.navlmnt:hover
{
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #eeeeee;
  background-color: #202020;
  cursor: pointer;
}

.fadein
{
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
