html{
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
  background: rgb(8,77,126);
  background: linear-gradient(137deg, #043c61 0%, #0c2744 100%);
}

h1 {
  font-family: 'Josefin Sans', serif;
  letter-spacing: 3px;
  color: #eeeeee;
  font-size: 75px;
  /*margin-left: 20px;*/
}
.btn{
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  cursor: pointer;
  background-color: #EEEEEE;
}
.btn:active{
  background-color: rgba(238, 238, 238, 0.9);
}
